<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Error 404: Page not found…</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body id="error404">
 <header>
   <h1>Page not found</h1>
 </header>

 <div class="googlesearch">
   <script type="text/javascript">
     var GOOG_FIXURL_LANG = 'en';
     var GOOG_FIXURL_SITE = window.location.protocol+'//'+window.location.hostname;
   </script>
   <script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
 </div>


 <aside></aside>
 <footer>Footer</footer>
</body>
</html>
